<div class="conatainer">
  <h1>All articles</h1>
  <ul>
    <% @articles.each do |t| %>
    <li><%=link_to t.title, article_path(t.id)%> - <%= link_to "delete ?",article_path(t.id),method: :delete, data: { confirm: "Are you sure?" }  %></li>
    <% end %>
  </ul>

  <p><%= link_to "Create new Article", new_article_path, class: "btn btn-secondary" %>
</div>
